<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{commons/exskel}"
>
  <div class="container p-4" layout:fragment="content">
    <div class="row justify-content-center">
      <a role="button" th:href="@{/discover/channel/{id}/(id=${channel.getId()})}" class="btn btn-dark mb-4"
      ><i class="fas fa-arrow-left mr-2"></i>back to channel <span th:text="${channel.getName()}">channel.name</span></a
      >
      <div class="col-md-12 text-center infinite-scroll px-0">
        <!-- foreach channel.members as member -->
        <div
          class="card col-lg-10 mx-auto d-flex flex-column px-0"
          style="max-width: 600px; background-color: #111"
          th:each="user : ${channel.getSoftBannedUsers()}"
        >
          <div
            class="col card-header border-0 px-3 d-flex flex-row"
            style="align-items: center"
          >
            <img
              th:if="${user.getImage() == null}"
              th:src="@{/images/no_profile_img.jpg}"
              alt=""
              width="40px"
              height="40px"
              class="rounded-circle"
            />
            <img
              th:unless="${user.getImage() == null}"
              th:src="@{/{link}/(link=${user.getImage().getLocation()})}"
              alt=""
              width="40px"
              height="40px"
              class="rounded-circle"
            />
            <h4 class="m-0 ml-3">
              <a th:href="@{/discover/user/{id}/(id=${user.getId()})}" class="text-decoration-none text-info"
                th:text="${user.getUsername()}">member.username</a
              >
            </h4>
            <a th:href="@{/channels/{channelId}/members/{userId}/unsoftban/(channelId=${channel.getId()}, userId=${user.getId()})}" class="ml-auto" style="color: orange">UNBAN USER</a>
          </div>
        </div>
        <!-- end foreach -->
        <!-- empty -->
        <th:block th:if="${channel.getSoftBannedUsers() == null || channel.getSoftBannedUsers().isEmpty()}">
          <img src="@{/images/no_res_2.png}" alt="" class="rounded my-4" width="350px">
          <h2 class="text-primary">no results ...</h2>
        </th:block>
      </div>
    </div>

    <!-- JScroll func -->
    <!--
    <script type="text/javascript">
      $("ul.pagination").hide();
      $(function () {
        $("document").ready(function () {
          $(".infinite-scroll").jscroll({
            autoTrigger: true,
            loadingHtml:
              '<div class="spinner-grow text-primary" role="status"><span class="sr-only">loading...</span></div>',
            padding: 0,
            nextSelector: ".pagination li.active + li a",
            contentSelector: "div.infinite-scroll",
            callback: function () {
              $("ul.pagination").remove();
            },
          });
        });
      });
    </script>
    -->
  </div>
</html>
