<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  layout:decorate="~{commons/exskel}"
>
  <div class="container p-4" layout:fragment="content">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center px-0">
        <div
          class="card bg-dark col-lg-10 mx-auto d-flex flex-column px-0"
          style="max-width: 800px"
        >
          <div
            class="col card-header border-0 px-3"
            style="align-items: center"
          >
            <div class="d-flex flex-row mb-3">
              <img
                th:if="${channel.getImage() == null}"
                th:src="@{/images/no_channel_img.jpg}"
                alt=""
                width="50px"
                height="50px"
                class="rounded"
              />
              <img
                th:unless="${channel.getImage() == null}"
                th:src="@{/{link}/(link=${channel.getImage().getLocation()})}"
                alt=""
                width="50px"
                height="50px"
                class="rounded"
              />
              <h2 class="m-0 ml-3 my-auto" th:text="${channel.getName()}">
                channel.name
              </h2>
              <!-- if current user is subscribed -->
              <h5
                th:if="${subscription != null}"
                class="m-0 ml-3 text-muted my-auto"
              >
                Subscribed as
                <span
                  class="text-uppercase text-warning"
                  th:text="${subscription.getRole().getName()}"
                  >channel.member.current_user.role</span
                >
              </h5>
              <!-- if current user is not subscribed & current user group == 1 -->
              <a
                sec:authorize="!isAnonymous()"
                th:if="${(subscription == null) && 'logged'.equals(principal.getGroup().getName()) && (!channel.getSoftBannedUsers().contains(principal))}"
                th:href="@{/channels/{id}/join/(id=${channel.getId()})}"
                class="btn btn btn-outline-light ml-auto my-auto"
              >
                JOIN
              </a>
            </div>
            <!-- if current user is subscribed & current user role == creator -->
            <div
              sec:authorize="!isAnonymous()"
              th:if="${(subscription != null) || ('administrator'.equals(principal.getGroup().getName()))}"
              class="d-flex flex-row justify-content-center"
            >
              <button
                th:if="${'administrator'.equals(principal.getGroup().getName()) || 'creator'.equals(subscription.getRole().getName())}"
                class="btn btn-outline-danger mx-1"
                data-toggle="modal"
                data-target="#delete-modal"
              >
                DELETE CHANNEL
              </button>
              <button
                th:if="${'administrator'.equals(principal.getGroup().getName()) || 'creator'.equals(subscription.getRole().getName()) || 'admin'.equals(subscription.getRole().getName())}"
                class="btn btn-outline-primary mx-1"
                data-toggle="modal"
                data-target="#edit-modal"
              >
                EDIT CHANNEL DATA
              </button>
              <a
                role="button"
                th:if="${'administrator'.equals(principal.getGroup().getName()) || 'creator'.equals(subscription.getRole().getName()) || 'admin'.equals(subscription.getRole().getName())}"
                th:href="@{/channels/{channelId}/change_image/(channelId=${channel.getId()})}"
                class="btn btn-outline-success mx-1"
                >CHANGE IMAGE</a
              >
              <a
                role="button"
                th:if="${'administrator'.equals(principal.getGroup().getName()) || 'creator'.equals(subscription.getRole().getName()) || 'admin'.equals(subscription.getRole().getName())}"
                th:href="@{/channels/{channelId}/remove_image/(channelId=${channel.getId()})}"
                class="btn btn-outline-success mx-1"
                >REMOVE IMAGE</a
              >
              <!-- if current user is subscribed -->
              <a
                sec:authorize="!isAnonymous()"
                th:if="${(subscription != null) && (!('creator'.equals(subscription.getRole().getName())))}"
                th:href="@{/channels/{id}/leave/(id=${channel.getId()})}"
                class="btn btn btn-outline-warning mx-1"
              >
                LEAVE
              </a>
            </div>
          </div>
          <div class="card-body text-left px-3 py-2">
            <h5 class="text-muted">Title</h5>
            <p class="" th:text="${channel.getTitle()}">channel.title</p>
            <h5 class="text-muted">Description</h5>
            <p class="" th:text="${channel.getDescription()}">
              channel.description
            </p>
            <h5 class="text-muted">Rules</h5>
            <p class="" th:text="${channel.getRules()}">channel.rules</p>
          </div>
          <!-- if logged & current user is channel member & current user group == 1 -->
          <div
            sec:authorize="!isAnonymous()"
            th:if="${(subscription != null) || ('administrator'.equals(principal.getGroup().getName()))}"
            class="card-footer"
          >
            <a
              role="button"
              th:href="@{/discover/channel/{id}/members/(id=${channel.getId()})}"
              class="btn btn-sm btn-info float-right"
              >Members</a
            >
            <!-- if current user role != member -->
            <a
              role="button"
              th:href="@{/discover/channel/{id}/posts/reported/(id=${channel.getId()})}"
              class="btn btn-sm btn-info float-right mr-2"
              th:if="${('administrator'.equals(principal.getGroup().getName())) || !('member'.equals(subscription.getRole().getName()))}"
              >Reported Posts</a
            >
            <!-- if current user role != member & != moderator -->
            <a
              role="button"
              th:href="@{/discover/channel/{id}/members/banned/(id=${channel.getId()})}"
              class="btn btn-sm btn-info float-right mr-2"
              th:if="${('administrator'.equals(principal.getGroup().getName())) || (!'member'.equals(subscription.getRole().getName()) && !'moderator'.equals(subscription.getRole().getName()))}"
              >Banned Users</a
            >
          </div>
        </div>
      </div>

      <!-- if count errors > 0 -->
      <div
        class="alert alert-danger col-md-12 text-center"
        style="max-width: 800px"
        th:if="${(errors != null) && (errors.size() > 0)}"
      >
        <strong>server error</strong>
        <ul>
          <!-- foreach errors as error -->
          <li th:each="error : ${errors}" th:text="${error}">{{$error}}</li>
          <!-- endforeach -->
        </ul>
      </div>
      <!-- if logged -->
      <div
        class="col-md-12 text-center px-0 mb-3"
        style="max-width: 800px"
        sec:authorize="!isAnonymous()"
      >
        <button
          class="btn btn-success btn-block"
          data-toggle="modal"
          data-target="#easymde-modal"
        >
          Make a Post
        </button>
      </div>
      <!-- else -->
      <div
        class="col-md-12 text-center px-0 mb-3"
        style="max-width: 800px"
        sec:authorize="isAnonymous()"
      >
        <a
          role="button"
          th:href="@{/login}"
          class="btn btn-success btn-block text-light"
          >Make a Post</a
        >
      </div>

      <div class="col-md-12 text-center infinite-scroll px-0">
        <!-- foreach posts as post -->
        <div
          class="card col-lg-10 mx-auto d-flex flex-row px-0"
          style="max-width: 800px"
          th:each="post : ${postPage.getContent()}"
          th:if="${principal == null || !postBO.findByUserHidden(principal.getId()).contains(post)}"
        >
          <div
            class="rounded-left py-3 d-flex flex-column"
            style="flex: 0 0 50px; background-color: #222"
          >
            <!-- if post not upvoted -->
            <a
              th:unless="${postBO.findByUserUpvoted(#authentication.getPrincipal().getUser().getId()).contains(post)}"
              th:id="${'post-' + post.getId() + '-upvote'}"
              sec:authorize="!isAnonymous()"
              th:href="@{/posts/{id}/upvote(id=${post.getId()})}"
              class="upvote"
              ><i class="fas fa-arrow-up mb-1"></i
            ></a>
            <!-- if post upvoted -->
            <a
              th:if="${postBO.findByUserUpvoted(#authentication.getPrincipal().getUser().getId()).contains(post)}"
              th:id="${'post-' + post.getId() + '-upvote'}"
              sec:authorize="!isAnonymous()"
              th:href="@{/posts/{id}/upvote(id=${post.getId()})}"
              class="text-warning upvote"
              ><i class="fas fa-arrow-up mb-1"></i
            ></a>
            <!-- else, not logged -->
            <a th:href="@{/login}" sec:authorize="isAnonymous()" class=""
              ><i class="fas fa-arrow-up mb-1"></i
            ></a>
            <!-- if post upvoted | post downvoted -->
            <span
              th:id="${'post-' + post.getId() + '-votenumber'}"
              class="my-1 text-warning votenumber"
              sec:authorize="!isAnonymous()"
              th:if="${postBO.findByUserUpvoted(#authentication.getPrincipal().getUser().getId()).contains(post) || postBO.findByUserDownvoted(#authentication.getPrincipal().getUser().getId()).contains(post)}"
              th:text="${post.getUpvote() - post.getDownvote()}"
              >upv-dov</span
            >
            <!-- else auth, post is not upvoted and not downvoted, draw text-light info -->
            <span
              th:id="${'post-' + post.getId() + '-votenumber'}"
              class="my-1 text-light votenumber"
              sec:authorize="!isAnonymous()"
              th:unless="${postBO.findByUserUpvoted(#authentication.getPrincipal().getUser().getId()).contains(post) || postBO.findByUserDownvoted(#authentication.getPrincipal().getUser().getId()).contains(post)}"
              th:text="${post.getUpvote() - post.getDownvote()}"
              >upv-dov</span
            >
            <!-- else guest, draw text-light info -->
            <span
              th:id="${'post-' + post.getId() + '-votenumber'}"
              class="my-1 text-light votenumber"
              sec:authorize="isAnonymous()"
              th:text="${post.getUpvote() - post.getDownvote()}"
              >upv-dov</span
            >
            <!-- if post not downvoted -->
            <a
              th:unless="${postBO.findByUserDownvoted(#authentication.getPrincipal().getUser().getId()).contains(post)}"
              th:id="${'post-' + post.getId() + '-downvote'}"
              th:href="@{/posts/{id}/downvote(id=${post.getId()})}"
              sec:authorize="!isAnonymous()"
              class="downvote"
              ><i class="fas fa-arrow-down"></i
            ></a>
            <!-- if post downvoted -->
            <a
              th:if="${postBO.findByUserDownvoted(#authentication.getPrincipal().getUser().getId()).contains(post)}"
              th:id="${'post-' + post.getId() + '-downvote'}"
              th:href="@{/posts/{id}/downvote(id=${post.getId()})}"
              sec:authorize="!isAnonymous()"
              class="text-warning downvote"
              ><i class="fas fa-arrow-down"></i
            ></a>
            <!-- else -->
            <a th:href="@{/login}" sec:authorize="isAnonymous()" class=""
              ><i class="fas fa-arrow-down"></i
            ></a>
          </div>
          <div class="col p-0 d-flex flex-column overflow-auto">
            <style>
              .carousel-control-prev:hover,
              .carousel-control-next:hover {
                background-color: rgba(200, 200, 200, 0.2);
                transition: 0.3s;
              }
            </style>

            <!-- ##### POST CAROUSEL ##### -->
            <!-- if post has images, e.g. boolean -->
            <div
              th:id="${'postcarousel-' + post.getId()}"
              th:if="${post.getImages() != null && !post.getImages().isEmpty()}"
              class="carousel slide overflow-hidden"
              data-ride="carousel"
              style="max-width: 800px; height: 200px"
            >
              <div class="carousel-inner bg-secondary rounded-right">
                <!-- foreach images as image -->
                <th:block th:each="image : ${postBO.getPostImages(post.getId())}">
                  <div th:if="${image.isFirst()}" class="carousel-item active">
                    <img th:src="@{/{image}/(image=${image.getLocation()})}" class="d-block mx-auto w-100 h-auto" />
                  </div>
                  <!-- else -->
                  <div th:unless="${image.isFirst()}" class="carousel-item">
                    <img th:src="@{/{image}/(image=${image.getLocation()})}" class="d-block mx-auto w-100 h-auto" />
                  </div>
                </th:block>
                <!-- endforeach -->
              </div>
              <a
                th:href="${'#postcarousel-' + post.getId()}"
                class="carousel-control-prev"
                role="button"
                data-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">prev</span>
              </a>
              <a
                th:href="${'#postcarousel-' + post.getId()}"
                class="carousel-control-next"
                role="button"
                data-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">next</span>
              </a>
            </div>
            <!-- endif -->

            <div class="card-header text-left border-0 px-3">
              <p
                class="m-0 mb-1"
                th:with="user=${userBO.findById(post.getUserId())}, userChannelRole=${userChannelRoleBO.findByChannelIdAndUserId(channel.getId(), user.getId())}"
              >
                <span class="text-muted">Posted by </span>
                <a
                  th:href="@{/discover/user/{id}/(id=${user.getId()})}"
                  class="text-decoration-none"
                  th:text="${user.getUsername()}"
                  >post.username</a
                >
                <span
                  class="badge badge-pill badge-secondary ml-1"
                  th:if="${userChannelRole != null}"
                  th:text="${userChannelRole.getRole().getName()}"
                  >post.user.role</span
                >
              </p>
              <h5 class="m-0">
                <a
                  th:href="@{/discover/post/{id}/(id=${post.getId()})}"
                  class="text-decoration-none"
                  th:text="${post.getTitle()}"
                  >post.title</a
                >
              </h5>
            </div>
            <div class="card-body text-left px-3 py-1">
              <div
                class="markdown-content"
                th:data-markdown-content="${post.getContent()}"
              ></div>
              <!-- foreach tags as tag -->
              <a
                th:each="tag : ${post.getTags()}"
                th:href="@{/search/(target=tags, query=${tag.getName()})}"
                ><span
                  class="badge badge-pill"
                  style="font-size: 11px; background-color: #ddd"
                  th:text="${tag.getName()}"
                  >tag.tag-id.name</span
                ></a
              >
              <!-- endforeach -->
            </div>
            <div
              class="card-footer border-0 p-1 px-3 text-left mt-1"
              style="border-bottom-left-radius: 0px"
            >
              <!-- if post not saved -->
              <a
                th:id="${'post-' + post.getId() + '-save'}"
                th:href="@{/posts/{id}/save(id=${post.getId()})}"
                sec:authorize="!isAnonymous()"
                th:unless="${postBO.findByUserSaved(#authentication.getPrincipal().getUser().getId()).contains(post)}"
                class="text-decoration-none mr-2 save"
                ><i
                  th:id="${'post-' + post.getId() + '-save-icon'}"
                  class="far fa-bookmark mr-1"
                ></i
                >Save</a
              >
              <!-- if post saved -->
              <a
                th:id="${'post-' + post.getId() + '-save'}"
                th:href="@{/posts/{id}/save(id=${post.getId()})}"
                sec:authorize="!isAnonymous()"
                th:if="${postBO.findByUserSaved(#authentication.getPrincipal().getUser().getId()).contains(post)}"
                class="text-decoration-none mr-2 text-danger save"
                ><i
                  th:id="${'post-' + post.getId() + '-save-icon'}"
                  class="fas fa-bookmark mr-1"
                ></i
                >Unsave</a
              >
              <!-- else -->
              <a
                th:href="@{/login}"
                sec:authorize="isAnonymous()"
                class="text-decoration-none mr-2"
                ><i class="far fa-bookmark mr-1"></i>Save</a
              >
              <!-- if post not hidden -->
              <a
                th:id="${'post-' + post.getId() + '-hide'}"
                th:href="@{/posts/{id}/hide(id=${post.getId()})}"
                sec:authorize="!isAnonymous()"
                th:unless="${postBO.findByUserHidden(#authentication.getPrincipal().getUser().getId()).contains(post)}"
                class="text-decoration-none mr-2 hide"
                ><i
                  th:id="${'post-' + post.getId() + '-hide-icon'}"
                  class="far fa-eye-slash mr-1"
                ></i
                >Hide</a
              >
              <!-- if post hidden -->
              <a
                th:id="${'post-' + post.getId() + '-hide'}"
                sec:authorize="!isAnonymous()"
                th:href="@{/posts/{id}/hide(id=${post.getId()})}"
                class="text-decoration-none mr-2 text-danger hide"
                th:if="${postBO.findByUserHidden(#authentication.getPrincipal().getUser().getId()).contains(post)}"
                ><i
                  th:id="${'post-' + post.getId() + '-hide-icon'}"
                  class="fas fa-eye-slash mr-1"
                ></i
                >Unhide</a
              >
              <!-- else -->
              <a
                th:href="@{/login}"
                sec:authorize="isAnonymous()"
                class="text-decoration-none mr-2"
                ><i class="far fa-eye-slash mr-1"></i>Hide</a
              >
              <!-- if post not reported -->
              <a
                th:id="${'post-' + post.getId() + '-report'}"
                th:href="@{/posts/{id}/report(id=${post.getId()})}"
                sec:authorize="!isAnonymous()"
                th:unless="${postBO.findByUserReported(#authentication.getPrincipal().getUser().getId()).contains(post)}"
                class="text-decoration-none mr-2 report"
                ><i
                  th:id="${'post-' + post.getId() + '-report-icon'}"
                  class="far fa-flag mr-1"
                ></i
                >Report Post</a
              >
              <!-- if post reported -->
              <a
                th:id="${'post-' + post.getId() + '-report'}"
                sec:authorize="!isAnonymous()"
                th:if="${postBO.findByUserReported(#authentication.getPrincipal().getUser().getId()).contains(post)}"
                th:href="@{/posts/{id}/report(id=${post.getId()})}"
                class="text-decoration-none mr-2 text-danger report"
                ><i
                  th:id="${'post-' + post.getId() + '-report-icon'}"
                  class="fas fa-flag mr-1"
                ></i
                >Unreport Post</a
              >
              <!-- else -->
              <a
                th:href="@{/login}"
                sec:authorize="isAnonymous()"
                class="text-decoration-none mr-2"
                ><i class="far fa-flag mr-1"></i>Report Post</a
              >
            </div>
          </div>
        </div>
        <!-- endforeach -->
        <ul th:if="${postPage.getTotalPages() > 1}" class="pagination">
          <li class="page-item active">
            <a
              class="page-link"
              href="#"
              th:href="@{/discover/channel/{id}/posts/page/{pageId}/(id=${channel.getId()}, pageId=${postPage.getNumber()})}"
              th:text="${postPage.getNumber()}"
            ></a>
          </li>
          <li class="page-item" th:if="${!postPage.isLast()}">
            <a
              class="page-link"
              href="#"
              th:href="@{/discover/channel/{id}/posts/page/{pageId}/(id=${channel.getId()}, pageId=${postPage.getNumber()+1})}"
              >Next</a
            >
          </li>
        </ul>
      </div>
    </div>

    <!-- JScroll func -->
    <script type="text/javascript">
      $("ul.pagination").hide();
      $(function () {
        $("document").ready(function () {
          $(".markdown-content").each(function () {
            let markdown_content = $(this).data("markdown-content");
            $(this).html(marked(markdown_content));
          });
          $(".infinite-scroll").jscroll({
            autoTrigger: true,
            loadingHtml:
              '<div class="spinner-grow text-primary" role="status"><span class="sr-only">loading...</span></div>',
            padding: 0,
            nextSelector: ".pagination li.active + li a",
            contentSelector: "div.infinite-scroll",
            callback: function () {
              $("ul.pagination").remove();
              // Marked markdown parser func
              // maybe remove document ready
              $(document).ready(function () {
                $(".markdown-content").each(function () {
                  let markdown_content = $(this).data("markdown-content");
                  $(this).html(marked(markdown_content));
                });
              });
            },
          });
        });
      });
    </script>

    <!-- only logged -->
    <form
      sec:authorize="!isAnonymous()"
      th:action="@{/posts/create}"
      method="post"
      th:object="${post}"
      enctype="multipart/form-data"
    >
      <div
        class="modal fade"
        id="easymde-modal"
        data-backdrop="static"
        tabindex="-1"
        role="dialog"
        aria-labelledby="easymde-modal-label"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title ml-auto" id="easymde-modal-label">
                make a post
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- MODAL CONTENT -->
              <!-- TODO: VALIDATION AND ERROR CONTROL -->
              <input
                name="files"
                type="file"
                class="form-control-file mb-3"
                id="files"
                th:multiple="multiple"
              />
              <input
                name="title"
                type="text"
                class="form-control mb-3"
                id="title"
                placeholder="Title"
                th:field="*{title}"
                th:required="required"
              />
              <input
                type="hidden"
                id="channelId"
                name="channelId"
                th:value="${channel.getId()}"
              />
              <input
                type="hidden"
                id="userId"
                name="userId"
                th:value="${#authentication.getPrincipal().getUser().getId()}"
              />
              <input
                type="hidden"
                id="reported"
                name="reported"
                th:value="false"
              />
              <input type="hidden" id="upvote" name="upvote" th:value="0" />
              <input type="hidden" id="downvote" name="downvote" th:value="0" />
              <!-- {{ Form::hidden('channel_id', $channel->id) }} -->
              <textarea
                name="content"
                id="easymde-area"
                cols=""
                rows=""
                th:field="*{content}"
              ></textarea>

              <!-- temp style block -->
              <style>
                .ui-autocomplete {
                  max-height: 200px;
                  overflow-y: auto;
                  overflow-x: hidden;
                }
              </style>
              <!-- end temp style block -->

              <div id="tags-area-container">
                <textarea
                  name="tags"
                  id="tags-area"
                  cols=""
                  rows=""
                  class="col p-2 rounded"
                  placeholder="Tags"
                ></textarea>
              </div>
              <!-- / MODAL CONTENT -->
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-secondary">submit</button>
            </div>
          </div>
        </div>
      </div>
    </form>

    <!-- only logged -->
    <form
      sec:authorize="!isAnonymous()"
      th:action="@{/channels/{channelId}/(channelId=${channel.getId()})}"
      method="post"
    >
      <!-- @method('delete') -->
      <div
        class="modal fade"
        id="delete-modal"
        data-backdrop="static"
        tabindex="-1"
        role="dialog"
        aria-labelledby="delete-modal-label"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title ml-auto" id="delete-modal-label">
                delete channel
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- MODAL CONTENT -->
              <h1 class="text-center text-danger">
                WARNING: This action is irreversible
              </h1>
              <!-- / MODAL CONTENT -->
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-secondary">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </form>

    <!-- only logged TODO edit form -->
    <form
      sec:authorize="!isAnonymous()"
      th:object="${channel}"
      th:action="@{/channels/{channelId}/update/(channelId=${channel.getId()})}"
      method="post"
    >
      <div
        class="modal fade"
        id="edit-modal"
        data-backdrop="static"
        tabindex="-1"
        role="dialog"
        aria-labelledby="edit-modal-label"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title ml-auto" id="edit-modal-label">
                edit channel data
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- MODAL CONTENT -->
              <label for="channel-title">title</label>
              <input
                th:field="*{title}"
                name="channel-title"
                type="text"
                class="form-control mb-3"
                id="channel-title"
                placeholder="title"
                th:value="${channel.getTitle()}"
              />
              <label for="channel-description">description</label>
              <textarea
                th:field="*{description}"
                name="channel-description"
                id="channel-description"
                cols=""
                rows=""
                class="form-control mb-3"
                placeholder="description"
                th:value="${channel.getDescription()}"
              ></textarea>
              <label for="channel-rules">rules</label>
              <textarea
                th:field="*{rules}"
                name="channel-rules"
                id="channel-rules"
                cols=""
                rows=""
                class="form-control"
                placeholder="rules"
                th:value="${channel.getRules()}"
              ></textarea>
              <!-- / MODAL CONTENT -->
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-secondary">Edit</button>
            </div>
          </div>
        </div>
      </div>
    </form>

    <!-- easymde block -->
    <script type="text/javascript">
      new EasyMDE({
        autoDownloadFontAwesome: false,
        indentWithTabs: true,
        lineWrapping: true,
        minHeight: "400px",
        //showIcons: ['strikethrough', 'code', 'table', 'redo', 'heading', 'undo', 'heading-bigger', 'heading-smaller', 'heading-1', 'heading-2', 'heading-3', 'clean-block', 'horizontal-rule'],
        showIcons: [
          "strikethrough",
          "code",
          "table",
          "redo",
          "heading",
          "undo",
          "heading-bigger",
          "heading-smaller",
          "clean-block",
          "horizontal-rule",
        ],
        element: document.getElementById("easymde-area"),
        initialValue: "",
        //TODO: insertTexts (horizontalRule, link, IMAGE, table) customize how buttons that insert text behave
        insertTexts: {
          image: ['<img src="', '" width="" heigth="">'],
        },
        uploadImage: false,
      });
    </script>

    <!-- tag completion func -->
    <script th:inline="javascript">
      /*<![CDATA[*/
      $(function () {

        var serverTags = /*[[${tags}]]*/ ""

        serverTags = JSON.parse(JSON.stringify(serverTags));

        var availableTags = [];
        for(let tag of serverTags) {
          availableTags.push(tag.name)
        }

        console.log(availableTags);

        function split(val) {
          return val.split(/\ \s*/);
        }

        function extractLast(term) {
          return split(term).pop();
        }

        $("#tags-area")
          // don't navigate away from the field on tab when selecting an item
          .on("keydown", function (event) {
            if (event.keyCode === $.ui.keyCode.TAB &&
              $(this).autocomplete("instance").menu.active) {
              event.preventDefault();
            }
          })

          .autocomplete({
            appendTo: "#tags-area-container",
            minLength: 0,
            source: function (request, response) {
              // delegate back to autocomplete, but extract the last term
              response($.ui.autocomplete.filter(
                availableTags, extractLast(request.term)));
            },
            focus: function () {
              // prevent value inserted on focus
              return false;
            },
            select: function (event, ui) {
              var terms = split(this.value);
              // remove the current input
              terms.pop();
              // add the selected item
              terms.push(ui.item.value);
              // add placeholder to get the comma-and-space at the end
              terms.push("");
              this.value = terms.join(" ");
              return false;
            }
          });

      });
      /*]]>*/
    </script>
  </div>
</html>
