<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{commons/exskel}"
>
  <div class="container p-4" layout:fragment="content">
    <div class="row justify-content-center">
      <a role="button" th:href="@{/discover/channel/{id}/(id=${channel.getId()})}" class="btn btn-dark mb-4"
      ><i class="fas fa-arrow-left mr-2"></i> back to channel <span th:text="${channel.getName()}">channel.name</span></a
      >
      <div class="col-md-12 text-center infinite-scroll px-0">
        <!-- foreach channel.members as member -->
        <!-- IMPLEMENT IF STATEMENT WITH THYMELEAF AND REMOVE (THIS) </div> TAGS -->
        <th:block th:each="member : ${members.getContent()}">
          <!-- if member.role is creator -->
          <div
                  th:if="${'creator'.equals(member.getRole().getName())}"
                  class="card col-lg-10 mx-auto d-flex flex-column px-0"
                  style="max-width: 600px; background-color: #111"
          >
            <!-- (THIS) -->
          </div>
          <!-- if member.role is admin -->
          <div
                  th:if="${'admin'.equals(member.getRole().getName())}"
                  class="card col-lg-10 mx-auto d-flex flex-column px-0"
                  style="max-width: 600px; background-color: #222"
          >
            <!-- (THIS) -->
          </div>
          <!-- if member.role is moderator -->
          <div
                  th:if="${'moderator'.equals(member.getRole().getName())}"
                  class="card col-lg-10 mx-auto d-flex flex-column px-0"
                  style="max-width: 600px; background-color: #333"
          >
            <!-- (THIS) -->
          </div>
          <!-- if member.role is member -->
          <div
                  th:if="${'member'.equals(member.getRole().getName())}"
                  class="card col-lg-10 mx-auto d-flex flex-column px-0"
                  style="max-width: 600px; background-color: #444"
          >
            <!-- else -->
            <!-- end if -->
            
            <!-- TODO: collegamento parte interna delle card -->
            <!-- parte interna delle card -->
            <div
                    class="col card-header border-0 px-3 d-flex flex-row"
                    style="align-items: center"
            >
              <img
                      th:src="@{/images/no_profile_img.jpg}"
                      alt=""
                      width="40px"
                      height="40px"
                      class="rounded-circle"
              />
              <!-- if member not reported -->
              <th:block th:unless="${channel.getSoftBannedUsers().contains(member.getUser())}">
                <h4 class="m-0 ml-3">
                  <a href="" class="text-decoration-none text-info"
                     th:href="@{/discover/user/{id}/(id=${member.getUser().getId()})}"
                     th:text="${member.getUser().getUsername()}"
                  >member.username</a
                  >
                </h4>
                <span class="ml-3 badge badge-pill badge-info"
                >Not reported</span
                >
              </th:block>
              <!-- if member is reported -->
              <th:block th:if="${channel.getSoftBannedUsers().contains(member.getUser())}">
                <h4 class="m-0 ml-3">
                  <a href="" class="text-decoration-none text-warning"
                     th:href="@{/discover/user/{id}/(id=${member.getUser().getId()})}"
                     th:text="${member.getUser().getUsername()}"
                  >member.username</a
                  >
                </h4>
                <span class="ml-3 badge badge-pill badge-warning"
                >Reported</span
                >
              </th:block>
              <!-- else -->
              <!-- end if -->

              <!-- if member.role is creator -->
              <h5 th:if="${'creator'.equals(member.getRole().getName())}" class="m-0 ml-auto">
                <span class="text-danger" th:text="${member.getRole().getName()}">member.role.name</span>
              </h5>

              <!-- if member.role is admin -->
              <h5 th:if="${'admin'.equals(member.getRole().getName())}" class="m-0 ml-auto">
                <span class="text-warning" th:text="${member.getRole().getName()}">member.role.name</span>
              </h5>

              <!-- if member.role is moderator -->
              <h5 th:if="${'moderator'.equals(member.getRole().getName())}" class="m-0 ml-auto">
                <span class="text-success" th:text="${member.getRole().getName()}">member.role.name</span>
              </h5>

              <!-- if member.role is member -->
              <h5 th:if="${'member'.equals(member.getRole().getName())}" class="m-0 ml-auto">
                <span class="text-light" th:text="${member.getRole().getName()}">member.role.name</span>
              </h5>
              <!-- else -->
              <!-- end if -->
            </div>
            <!-- if member.role is NOT creator -->
            <div class="card-body p-0 px-3 border-0 d-flex flex-column">
              <!-- if user.role is creator | is admin -->
              <th:block th:if="${'creator'.equals(userRole.getName()) || 'admin'.equals(userRole.getName())}">
                <!-- if member is NOT banned -->
                <a th:unless="${channel.getSoftBannedUsers().contains(member.getUser())}"
                   th:href="@{/channels/{channelId}/members/{userId}/softban/(channelId=${channel.getId()}, userId=${member.getUser().getId()})}"
                   class="ml-auto" style="color: orange">BAN USER</a>
                <!-- else -->
                <a th:if="${channel.getSoftBannedUsers().contains(member.getUser())}"
                   th:href="@{/channels/{channelId}/members/{userId}/unsoftban/(channelId=${channel.getId()}, userId=${member.getUser().getId()})}"
                   class="ml-auto text-warning" style="color: orange">UNBAN USER</a>
                <!-- end if -->
              </th:block>
              <!-- end if -->
              <!-- if user.role is creator | is admin | is moderator -->
              <th:block th:if="${'creator'.equals(userRole.getName()) || 'admin'.equals(userRole.getName()) || 'moderator'.equals(userRole.getName())}">
                <!-- if member is NOT reported -->
                <a th:unless="${channel.getReportedUsers().contains(member.getUser())}"
                   th:href="@{/channels/{channelId}/members/{userId}/report/(channelId=${channel.getId()}, userId=${member.getUser().getId()})}"
                   class="ml-auto" style="color: violet">REPORT USER</a>
                <!-- else -->
                <a th:if="${channel.getReportedUsers().contains(member.getUser())}"
                   th:href="@{/channels/{channelId}/members/{userId}/unreport/(channelId=${channel.getId()}, userId=${member.getUser().getId()})}"
                   class="ml-auto text-warning">UNREPORT USER</a>
                <!-- end if -->
              </th:block>
              <!-- end if -->
            </div>
            <!-- end if -->

            <!-- card footer -->
            <div class="card-footer border-0">
              <!-- if user.role is creator -->
              <th:block th:if="${'creator'.equals(userRole.getName())}">
                <!-- if member.role is admin -->
                <button
                        th:if="${'admin'.equals(member.getRole().getName())}"
                        onclick=""
                        class="btn btn-sm btn-outline-light float-right ml-2"
                >
                  <i class="fas fa-arrow-down mr-2"></i
                  ><span class="">Downgrade to MODERATOR</span>
                </button>

                <!-- if member.role is moderator -->
                <button
                        th:if="${'moderator'.equals(member.getRole().getName())}"
                        onclick=""
                        class="btn btn-sm btn-outline-light float-right ml-2"
                >
                  <i class="fas fa-arrow-down mr-2"></i
                  ><span class="">Downgrade to MEMBER</span>
                </button>
                <button th:if="${'moderator'.equals(member.getRole().getName())}" onclick="" class="btn btn-sm btn-outline-light float-right">
                  <i class="fas fa-arrow-up mr-2"></i>
                  <span class="">Upgrade to ADMIN</span>
                </button>

                <!-- if member.role is member -->
                <button th:if="${'member'.equals(member.getRole().getName())}" onclick="" class="btn btn-sm btn-outline-light float-right">
                  <i class="fas fa-arrow-up mr-2"></i>
                  <span class="">Upgrade to MODERATOR</span>
                </button>
              </th:block>
              <!-- else -->
              <!-- end if -->

              <!-- if user.role is admin -->
              <th:block th:if="${'admin'.equals(userRole.getName())}">
                <!-- if member.role is moderator -->
                <button
                        th:if="${'moderator'.equals(member.getRole().getName())}"
                        onclick=""
                        class="btn btn-sm btn-outline-light float-right ml-2"
                >
                  <i class="fas fa-arrow-down mr-2"></i
                  ><span class="">Downgrade to MEMBER</span>
                </button>

                <!-- if member.role is member -->
                <button th:if="${'member'.equals(member.getRole().getName())}" onclick="" class="btn btn-sm btn-outline-light float-right">
                  <i class="fas fa-arrow-up mr-2"></i>
                  <span class="">Upgrade to MODERATOR</span>
                </button>
                <!-- else -->
              </th:block>
              <!-- end if -->

              <!-- is user.group is 1 -->
              <th:block th:if="${'administrator'.equals(principal.getGroup().getName())}">
                <!-- if member.role is creator -->
                <button
                        th:if="${'creator'.equals(member.getRole().getName())}"
                        onclick=""
                        class="btn btn-sm btn-outline-light float-right ml-2"
                >
                  <i class="fas fa-arrow-down mr-2"></i
                  ><span class="">Downgrade to ADMIN</span>
                </button>

                <!-- if member.role is admin -->
                <button
                        th:if="${'admin'.equals(member.getRole().getName())}"
                        onclick=""
                        class="btn btn-sm btn-outline-light float-right ml-2"
                >
                  <i class="fas fa-arrow-down mr-2"></i
                  ><span class="">Downgrade to MODERATOR</span>
                </button>
                <button th:if="${'admin'.equals(member.getRole().getName())}" onclick="" class="btn btn-sm btn-outline-light float-right">
                  <i class="fas fa-arrow-up mr-2"></i>
                  <span class="">Upgrade to CREATOR</span>
                </button>

                <!-- if member.role is moderator -->
                <button
                        th:if="${'moderator'.equals(member.getRole().getName())}"
                        onclick=""
                        class="btn btn-sm btn-outline-light float-right ml-2"
                >
                  <i class="fas fa-arrow-down mr-2"></i
                  ><span class="">Downgrade to MEMBER</span>
                </button>
                <button th:if="${'moderator'.equals(member.getRole().getName())}" onclick="" class="btn btn-sm btn-outline-light float-right">
                  <i class="fas fa-arrow-up mr-2"></i>
                  <span class="">Upgrade to ADMIN</span>
                </button>

                <!-- if member.role is member -->
                <button th:if="${'member'.equals(member.getRole().getName())}" onclick="" class="btn btn-sm btn-outline-light float-right">
                  <i class="fas fa-arrow-up mr-2"></i>
                  <span class="">Upgrade to MODERATOR</span>
                </button>
                <!-- else -->
              </th:block>
              <!-- end if -->

              <!-- else -->
              <!-- end if -->
            </div>
            <!-- end card footer -->

            <!-- end parte interna delle card -->

          </div>
        </th:block>
        <!-- end foreach -->
        <ul th:if="${members.getTotalPages() > 1}" class="pagination">
          <li class="page-item active"><a class="page-link" href="#" th:href="@{/discover/channel/{id}/members/page/{number}/(id=${channel.getId()}, number=${members.getNumber()})}" th:text="${members.getNumber()}"></a></li>
          <li class="page-item" th:if="${!members.isLast()}"><a class="page-link" href="#" th:href="@{/discover/channel/{id}/members/page/{number}/(id=${channel.getId()}, number=${members.getNumber()+1})}">Next</a></li>
        </ul>
      </div>
    </div>

    <!-- JScroll func -->
    <script type="text/javascript">
      $("ul.pagination").hide();
      $(function () {
        $("document").ready(function () {
          $(".infinite-scroll").jscroll({
            autoTrigger: true,
            loadingHtml:
              '<div class="spinner-grow text-primary" role="status"><span class="sr-only">loading...</span></div>',
            padding: 0,
            nextSelector: ".pagination li.active + li a",
            contentSelector: "div.infinite-scroll",
            callback: function () {
              $("ul.pagination").remove();
            },
          });
        });
      });
    </script>
  </div>
</html>
