<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  layout:decorate="~{commons/exskel}"
>
  <div class="container p-4" layout:fragment="content">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center px-0">
        <div
          class="card col-lg-10 mx-auto d-flex flex-row px-0"
          style="max-width: 800px"
        >
          <div
            class="rounded-left py-3 d-flex flex-column"
            style="flex: 0 0 50px; background-color: #222"
          >
            <!-- if post not upvoted -->
            <a
              th:id="${'post-' + post.getId() + '-upvote'}"
              sec:authorize="!isAnonymous()"
              th:unless="${postBO.findByUserUpvoted(#authentication.getPrincipal().getUser().getId()).contains(post)}"
              th:href="@{/posts/{id}/upvote(id=${post.getId()})}"
              class="upvote"
              ><i class="fas fa-arrow-up mb-1"></i
            ></a>
            <!-- if post upvoted -->
            <a
              th:id="${'post-' + post.getId() + '-upvote'}"
              sec:authorize="!isAnonymous()"
              th:if="${postBO.findByUserUpvoted(#authentication.getPrincipal().getUser().getId()).contains(post)}"
              th:href="@{/posts/{id}/upvote(id=${post.getId()})}"
              class="text-warning upvote"
              ><i class="fas fa-arrow-up mb-1"></i
            ></a>
            <!-- else -->
            <a th:href="@{/login}" sec:authorize="isAnonymous()" class=""
              ><i class="fas fa-arrow-up mb-1"></i
            ></a>
            <!-- if post upvoted | downvoted -->
            <span
              th:id="${'post-' + post.getId() + '-votenumber'}"
              sec:authorize="!isAnonymous()"
              th:if="${postBO.findByUserUpvoted(#authentication.getPrincipal().getUser().getId()).contains(post) || postBO.findByUserDownvoted(#authentication.getPrincipal().getUser().getId()).contains(post)}"
              class="my-1 text-warning votenumber"
              th:text="${post.getUpvote() - post.getDownvote()}"
            ></span>
            <!-- else auth, post is not upvoted and not downvoted, draw text-light info -->
            <span
              th:id="${'post-' + post.getId() + '-votenumber'}"
              sec:authorize="!isAnonymous()"
              th:unless="${postBO.findByUserUpvoted(#authentication.getPrincipal().getUser().getId()).contains(post) || postBO.findByUserDownvoted(#authentication.getPrincipal().getUser().getId()).contains(post)}"
              class="my-1 text-light votenumber"
              th:text="${post.getUpvote() - post.getDownvote()}"
            ></span>
            <!-- else guest, draw text-light info -->
            <span
              th:id="${'post-' + post.getId() + '-votenumber'}"
              sec:authorize="isAnonymous()"
              class="my-1 text-light votenumber"
              th:text="${post.getUpvote() - post.getDownvote()}"
            ></span>
            <!-- if post not downvoted -->
            <a
              th:id="${'post-' + post.getId() + '-downvote'}"
              sec:authorize="!isAnonymous()"
              th:unless="${postBO.findByUserDownvoted(#authentication.getPrincipal().getUser().getId()).contains(post)}"
              th:href="@{/posts/{id}/downvote(id=${post.getId()})}"
              class="downvote"
              ><i class="fas fa-arrow-down"></i
            ></a>
            <!-- if post downvoted -->
            <a
              th:id="${'post-' + post.getId() + '-downvote'}"
              sec:authorize="!isAnonymous()"
              th:if="${postBO.findByUserDownvoted(#authentication.getPrincipal().getUser().getId()).contains(post)}"
              th:href="@{/posts/{id}/downvote(id=${post.getId()})}"
              class="text-warning downvote"
              ><i class="fas fa-arrow-down"></i
            ></a>
            <!-- else -->
            <a th:href="@{/login}" sec:authorize="isAnonymous()" class=""
              ><i class="fas fa-arrow-down"></i
            ></a>
          </div>
          <div class="col p-0 d-flex flex-column overflow-auto">
            <style>
              .carousel-control-prev:hover,
              .carousel-control-next:hover {
                background-color: rgba(200, 200, 200, 0.2);
                transition: 0.3s;
              }
            </style>

            <!-- ##### POST CAROUSEL ##### -->
            <!-- if post has images -->
            <div
              th:if="${post.getImages() != null && !post.getImages().isEmpty()}"
              th:id="${'postcarousel-' + post.getId()}"
              class="carousel slide overflow-hidden"
              data-ride="carousel"
              style="max-width: 800px"
            >
              <div class="carousel-inner bg-secondary rounded-right">
                <!-- foreach images as image -->
                <th:block
                  th:each="image : ${postBO.getPostImages(post.getId())}"
                >
                  <!-- if first loop -->
                  <div th:if="${image.isFirst()}" class="carousel-item active">
                    <img
                      th:src="@{/{image}/(image=${image.getLocation()})}"
                      class="d-block mx-auto w-100 h-auto"
                    />
                  </div>
                  <!-- else -->
                  <div th:unless="${image.isFirst()}" class="carousel-item">
                    <img
                      th:src="@{/{image}/(image=${image.getLocation()})}"
                      class="d-block mx-auto w-100 h-auto"
                    />
                  </div>
                </th:block>
                <!-- endforeach -->
              </div>
              <a
                th:href="${'#postcarousel-' + post.getId()}"
                class="carousel-control-prev"
                role="button"
                data-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">prev</span>
              </a>
              <a
                th:href="${'#postcarousel-' + post.getId()}"
                class="carousel-control-next"
                role="button"
                data-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">next</span>
              </a>
            </div>
            <!-- endif -->
            <div class="card-header text-left border-0 px-3">
              <p
                class="m-0 mb-1"
                th:with="channel=${channelBO.findById(post.getChannelId())}, user=${userBO.findById(post.getUserId())}"
              >
                <a
                  th:href="@{/discover/channel/{id}/(id=${channel.getId()})}"
                  class="text-decoration-none"
                  ><b th:utext="${channel.getName()}"></b
                ></a>
                <span class="text-muted"
                  >[[#{content.discover.post.posted_by}]]</span
                >
                <a
                  th:href="@{/discover/user/{id}/(id=${user.getId()})}"
                  class="text-decoration-none"
                  th:text="${user.getUsername()}"
                ></a>
              </p>
              <h5 class="m-0">
                <a
                  th:href="@{/discover/post/{id}/(id=${post.getId()})}"
                  class="text-decoration-none"
                  th:text="${post.getTitle()}"
                ></a>
              </h5>
            </div>
            <div class="card-body text-left px-3 py-1">
              <div
                class="markdown-content"
                th:data-markdown-content="${post.getContent()}"
              ></div>
              <!-- foreach post.tags as tag -->
              <a
                th:href="@{/search/(target=tags, query=${tag.getName()})}"
                th:each="tag : ${post.getTags()}"
                ><span
                  class="badge badge-pill"
                  style="font-size: 11px; background-color: #ddd"
                  th:text="${tag.getName()}"
                ></span
              ></a>
              <!-- endforeach -->
            </div>
            <div
              class="card-footer border-0 p-1 px-3 text-left mt-1"
              style="border-bottom-left-radius: 0px"
            >
              <!-- if post not saved -->
              <a
                th:id="${'post-' + post.getId() + '-save'}"
                th:href="@{/posts/{id}/save(id=${post.getId()})}"
                sec:authorize="!isAnonymous()"
                th:unless="${postBO.findByUserSaved(#authentication.getPrincipal().getUser().getId()).contains(post)}"
                class="text-decoration-none mr-2 save"
                ><i
                  th:id="${'post-' + post.getId() + '-save-icon'}"
                  class="far fa-bookmark mr-1"
                ></i
                >Save</a
              >
              <!-- if post saved -->
              <a
                th:id="${'post-' + post.getId() + '-save'}"
                th:href="@{/posts/{id}/save(id=${post.getId()})}"
                sec:authorize="!isAnonymous()"
                th:if="${postBO.findByUserSaved(#authentication.getPrincipal().getUser().getId()).contains(post)}"
                class="text-decoration-none mr-2 text-danger save"
                ><i
                  th:id="${'post-' + post.getId() + '-save-icon'}"
                  class="fas fa-bookmark mr-1"
                ></i
                >Unsave</a
              >
              <!-- else -->
              <a
                th:href="@{/login}"
                sec:authorize="isAnonymous()"
                class="text-decoration-none mr-2"
                ><i class="far fa-bookmark mr-1"></i>Save</a
              >
              <!-- if post not hidden -->
              <a
                th:id="${'post-' + post.getId() + '-hide'}"
                th:href="@{/posts/{id}/hide(id=${post.getId()})}"
                sec:authorize="!isAnonymous()"
                th:unless="${postBO.findByUserHidden(#authentication.getPrincipal().getUser().getId()).contains(post)}"
                class="text-decoration-none mr-2 hide"
                ><i
                  th:id="${'post-' + post.getId() + '-hide-icon'}"
                  class="far fa-eye-slash mr-1"
                ></i
                >Hide</a
              >
              <!-- if post hidden -->
              <a
                th:id="${'post-' + post.getId() + '-hide'}"
                th:href="@{/posts/{id}/hide(id=${post.getId()})}"
                sec:authorize="!isAnonymous()"
                th:if="${postBO.findByUserHidden(#authentication.getPrincipal().getUser().getId()).contains(post)}"
                class="text-decoration-none mr-2 text-danger hide"
                ><i
                  th:id="${'post-' + post.getId() + '-hide-icon'}"
                  class="fas fa-eye-slash mr-1"
                ></i
                >Unhide</a
              >
              <!-- else -->
              <a
                th:href="@{/login}"
                sec:authorize="isAnonymous()"
                class="text-decoration-none mr-2"
                ><i class="far fa-eye-slash mr-1"></i>Hide</a
              >
              <!-- if post not reported -->
              <a
                th:id="${'post-' + post.getId() + '-report'}"
                th:href="@{/posts/{id}/report(id=${post.getId()})}"
                sec:authorize="!isAnonymous()"
                th:unless="${postBO.findByUserReported(#authentication.getPrincipal().getUser().getId()).contains(post)}"
                class="text-decoration-none report"
                ><i
                  th:id="${'post-' + post.getId() + '-report-icon'}"
                  class="far fa-flag mr-1"
                ></i
                >Report Post</a
              >
              <!-- if post reported -->
              <a
                th:id="${'post-' + post.getId() + '-report'}"
                th:href="@{/posts/{id}/report(id=${post.getId()})}"
                sec:authorize="!isAnonymous()"
                th:if="${postBO.findByUserReported(#authentication.getPrincipal().getUser().getId()).contains(post)}"
                class="text-decoration-none text-danger report"
                ><i
                  th:id="${'post-' + post.getId() + '-report-icon'}"
                  class="fas fa-flag mr-1"
                ></i
                >Unreport Post</a
              >
              <!-- else -->
              <a
                th:href="@{/login}"
                sec:authorize="isAnonymous()"
                class="text-decoration-none"
                ><i class="far fa-flag mr-1"></i>Report Post</a
              >
            </div>
          </div>
        </div>
      </div>

      <!-- only logged -->
      <div
        class="col-md-12 text-center px-0 mb-3"
        style="max-width: 800px"
        sec:authorize="!isAnonymous()"
      >
        <button
          class="btn btn-success btn-block"
          data-toggle="modal"
          data-target="#easymde-modal-reply"
        >
          [[#{content.discover.post.button.make_a_reply}]]
        </button>
      </div>
      <!-- else -->
      <div
        class="col-md-12 text-center px-0 mb-3"
        style="max-width: 800px"
        sec:authorize="isAnonymous()"
      >
        <a
          role="button"
          th:href="@{/login}"
          class="btn btn-success btn-block text-light"
          >[[#{content.discover.post.button.make_a_reply}]]</a
        >
      </div>
      <!-- end only logged -->

      <div class="col-md-12 text-center infinite-scroll px-0">
        <!-- foreach replies as reply -->
        <div
          th:each="reply : ${replyPage.getContent()}"
          th:id="${'reply-' + reply.getId()}"
          class="card col-lg-10 mx-auto d-flex flex-row px-0"
          style="max-width: 800px"
        >
          <div
            class="rounded-left py-3 d-flex flex-column"
            style="flex: 0 0 50px; background-color: #ddd"
          >
            <!-- if reply not upvoted -->
            <a
              th:id="${'reply-' + reply.getId() + '-upvote'}"
              sec:authorize="!isAnonymous()"
              th:unless="${replyBO.findByUserUpvoted(#authentication.getPrincipal().getUser().getId()).contains(reply)}"
              th:href="@{/replies/{id}/upvote(id=${reply.getId()})}"
              class="replyupvote"
              ><i class="fas fa-arrow-up mb-1"></i
            ></a>
            <!-- if reply upvoted -->
            <a
              th:id="${'reply-' + reply.getId() + '-upvote'}"
              sec:authorize="!isAnonymous()"
              th:if="${replyBO.findByUserUpvoted(#authentication.getPrincipal().getUser().getId()).contains(reply)}"
              th:href="@{/replies/{id}/upvote(id=${reply.getId()})}"
              class="text-danger replyupvote"
              ><i class="fas fa-arrow-up mb-1"></i
            ></a>
            <!-- else -->
            <a th:href="@{/login}" sec:authorize="isAnonymous()" class=""
              ><i class="fas fa-arrow-up mb-1"></i
            ></a>
            <!-- if reply upvoted | downvoted -->
            <span
              th:id="${'reply-' + reply.getId() + '-votenumber'}"
              sec:authorize="!isAnonymous()"
              th:if="${replyBO.findByUserUpvoted(#authentication.getPrincipal().getUser().getId()).contains(reply) || replyBO.findByUserDownvoted(#authentication.getPrincipal().getUser().getId()).contains(reply)}"
              class="my-1 text-danger text-bold votenumber"
              th:text="${reply.getUpvote() - reply.getDownvote()}"
            ></span>
            <!-- else auth -->
            <span
              th:id="${'reply-' + reply.getId() + '-votenumber'}"
              sec:authorize="!isAnonymous()"
              th:unless="${replyBO.findByUserUpvoted(#authentication.getPrincipal().getUser().getId()).contains(reply) || replyBO.findByUserDownvoted(#authentication.getPrincipal().getUser().getId()).contains(reply)}"
              class="my-1 text-dark text-bold votenumber"
              th:text="${reply.getUpvote() - reply.getDownvote()}"
            ></span>
            <!-- else guest -->
            <span
              th:id="${'reply-' + reply.getId() + '-votenumber'}"
              sec:authorize="isAnonymous()"
              class="my-1 text-dark text-bold votenumber"
              th:text="${reply.getUpvote() - reply.getDownvote()}"
            ></span>
            <!-- if reply not downvoted -->
            <a
              th:id="${'reply-' + reply.getId() + '-downvote'}"
              sec:authorize="!isAnonymous()"
              th:unless="${replyBO.findByUserDownvoted(#authentication.getPrincipal().getUser().getId()).contains(reply)}"
              th:href="@{/replies/{id}/downvote(id=${reply.getId()})}"
              class="replydownvote"
              ><i class="fas fa-arrow-down"></i
            ></a>
            <!-- if reply downvoted -->
            <a
              th:id="${'reply-' + reply.getId() + '-downvote'}"
              sec:authorize="!isAnonymous()"
              th:if="${replyBO.findByUserDownvoted(#authentication.getPrincipal().getUser().getId()).contains(reply)}"
              th:href="@{/replies/{id}/downvote(id=${reply.getId()})}"
              class="text-danger replydownvote"
              ><i class="fas fa-arrow-down"></i
            ></a>
            <!-- else -->
            <a th:href="@{/login}" sec:authorize="isAnonymous()" class=""
              ><i class="fas fa-arrow-down"></i
            ></a>
          </div>
          <div class="col p-0 d-flex flex-column overflow-auto">
            <div class="card-header text-left border-0 px-3">
              <p
                class="m-0 mb-1"
                th:with="user=${userBO.findById(reply.getUserId())}"
              >
                <span class="text-muted"
                  >[[#{content.discover.post.reply.posted_by}]]</span
                >
                <a
                  th:href="@{/discover/user/{id}/(id=${user.getId()})}"
                  class="text-decoration-none"
                  th:text="${user.getUsername()}"
                ></a>
              </p>
            </div>
            <div class="card-body text-left px-3 py-1">
              <div
                class="markdown-content"
                th:data-markdown-content="${reply.getContent()}"
              ></div>
            </div>
            <div
              class="card-footer border-0 p-1 px-3 text-left"
              style="border-bottom-left-radius: 0px"
            >
              <a
                th:href="@{/replies/{id}/delete(id=${reply.getId()})}"
                sec:authorize="!isAnonymous()"
                th:if="${reply.getUserId().equals(#authentication.getPrincipal().getUser().getId())}"
                class="text-decoration-none mr-2 text-danger replydelete"
                ><i class="fa fa-exclamation-triangle"></i
                >[[#{content.discover.post.reply.button.delete_reply}]]</a
              >
            </div>
          </div>
        </div>
        <!-- end foreach -->
        <ul th:if="${replyPage.getTotalPages() > 1}" class="pagination">
          <li class="page-item active">
            <a
              class="page-link"
              href="#"
              th:href="@{/discover/post/{id}/replies/page/{pageId}/(id=${post.getId()}, pageId=${replyPage.getNumber()})}"
              th:text="${replyPage.getNumber()}"
            ></a>
          </li>
          <li class="page-item" th:if="${!replyPage.isLast()}">
            <a
              class="page-link"
              href="#"
              th:href="@{/discover/post/{id}/replies/page/{pageId}/(id=${post.getId()}, pageId=${replyPage.getNumber()+1})}"
              >Next</a
            >
          </li>
        </ul>
      </div>
    </div>

    <!-- JScroll func -->
    <script type="text/javascript">
      $("ul.pagination").hide();
      $(function () {
        $("document").ready(function () {
          $(".markdown-content").each(function () {
            let markdown_content = $(this).data("markdown-content");
            $(this).html(marked(markdown_content));
          });
          $(".infinite-scroll").jscroll({
            autoTrigger: true,
            loadingHtml:
              '<div class="spinner-grow text-primary" role="status"><span class="sr-only">loading...</span></div>',
            padding: 0,
            nextSelector: ".pagination li.active + li a",
            contentSelector: "div.infinite-scroll",
            callback: function () {
              $("ul.pagination").remove();
              // Marked markdown parser func
              // maybe remove document ready
              $(document).ready(function () {
                $(".markdown-content").each(function () {
                  let markdown_content = $(this).data("markdown-content");
                  $(this).html(marked(markdown_content));
                });
              });
            },
          });
        });
      });
    </script>

    <!-- only logged -->
    <form
      sec:authorize="!isAnonymous()"
      th:action="@{/replies/create/}"
      th:object="${reply}"
      method="post"
    >
      <div
        class="modal fade"
        id="easymde-modal-reply"
        data-backdrop="static"
        tabindex="-1"
        role="dialog"
        aria-labelledby="easymde-modal-reply-label"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title ml-auto" id="easymde-modal-reply-label">
                [[#{content.discover.post.reply.modal.make_a_reply}]]
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <input
                type="hidden"
                id="userId"
                name="userId"
                th:value="${#authentication.getPrincipal().getUser().getId()}"
              />
              <input
                type="hidden"
                id="channelId"
                name="channelId"
                th:value="${post.getChannelId()}"
              />
              <input type="hidden" id="upvote" name="upvote" th:value="0" />
              <input type="hidden" id="downvote" name="downvote" th:value="0" />
              <input
                type="hidden"
                id="postId"
                name="postId"
                th:value="${post.getId()}"
              />
              <textarea
                th:field="*{content}"
                name="content"
                id="easymde-area-reply"
                cols=""
                rows=""
              ></textarea>
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary">
                [[#{content.discover.post.reply.modal.button.create}]]
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <!-- end only logged -->

    <!-- only logged -->
    <script type="text/javascript">
      //easymde-area-reply [easymde-modal-reply]
      new EasyMDE({
        autoDownloadFontAwesome: false,
        indentWithTabs: true,
        lineWrapping: true,
        minHeight: "400px",
        //showIcons: ['strikethrough', 'code', 'table', 'redo', 'heading', 'undo', 'heading-bigger', 'heading-smaller', 'heading-1', 'heading-2', 'heading-3', 'clean-block', 'horizontal-rule'],
        showIcons: [
          "strikethrough",
          "code",
          "table",
          "redo",
          "heading",
          "undo",
          "heading-bigger",
          "heading-smaller",
          "clean-block",
          "horizontal-rule",
        ],
        element: document.getElementById("easymde-area-reply"),
        initialValue: "",
        //TODO: insertTexts (horizontalRule, link, IMAGE, table) customize how buttons that insert text behave
        insertTexts: {
          image: ['<img src="', '" width="" heigth="">'],
        },
        uploadImage: false,
      });
    </script>
    <!-- end only logged -->
  </div>
</html>
