<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <!-- csrf resolved by spring security -->
    <title>j2etpapp</title>

    <link rel="icon" th:href="@{/images/main_logo.png}" type="image/png" />

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/js/jquery-3.5.1.slim.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" th:href="@{/css/adminlte.min.css}" />
    <script th:src="@{/js/adminlte.min.js}"></script>
    <!-- font -->
    <!-- easymde -->
    <!-- marked -->
  </head>
  <body class="hold-transition sidebar-mini">
    <!-- wrapper -->
    <div class="wrapper">
      <div class="content-wrapper">
        <div class="container p-4" layout:fragment="content"></div>
      </div>
    </div>
  </body>
</html>
