<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{exskel}"
>
  <!-- messages modal -->
  <div
    class="modal fade"
    id="messages_modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="messages_modal_label"
    aria-hidden="true"
    th:fragment="navbar_modal"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header p-2 justify-content-center border-0">
          <h5 class="m-0" id="notification-count">no notifications</h5>
        </div>
        <div id="notification-area" class="modal-body pb-0 px-3 pt-3"></div>
        <div class="modal-footer border-0 p-2">
          <button
            class="btn btn-outline-secondary"
            type="button"
            data-dismiss="modal"
          >
            close
          </button>
          <button id="notifications-delete-all" class="btn btn-outline-secondary"
                  type="button">
            delete all messages
          </button>
        </div>
      </div>
    </div>
  </div>
</html>
