<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{sidebar}"
>
  <nav class="mt-2" th:fragment="sidebar_menu">
    <ul
      class="nav nav-pills nav-sidebar flex-column"
      data-widget="treeview"
      role="menu"
      data-accordion="false"
    >
      <li class="nav-header px-0 px-3">
        [[#{common.sidebar_menu.section.user}]]
      </li>

      <li class="nav-item has-treeview">
        <!-- redirect to auth register or to dashboard -->
        <a href="#" class="nav-link">
          <i class="nav-icon fas fa-home"></i>
          <p>
            [[#{common.sidebar_menu.subsection.dashboard}]]
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>
                [[#{common.sidebar_menu.subsection.dashboard.posts}]]
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a th:href="@{/home/posts/owned}" class="nav-link">
                  <i class="far fa-dot-circle nav-icon"></i>
                  <p>
                    [[#{common.sidebar_menu.subsection.dashboard.submenu.owned}]]
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/home/posts/saved}" class="nav-link">
                  <i class="far fa-dot-circle nav-icon"></i>
                  <p>
                    [[#{common.sidebar_menu.subsection.dashboard.submenu.saved}]]
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/home/posts/hidden}" class="nav-link">
                  <i class="far fa-dot-circle nav-icon"></i>
                  <p>
                    [[#{common.sidebar_menu.subsection.dashboard.submenu.hidden}]]
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/home/posts/reported}" class="nav-link">
                  <i class="far fa-dot-circle nav-icon"></i>
                  <p>
                    [[#{common.sidebar_menu.subsection.dashboard.submenu.reported}]]
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/home/posts/upvoted}" class="nav-link">
                  <i class="far fa-dot-circle nav-icon"></i>
                  <p>
                    [[#{common.sidebar_menu.subsection.dashboard.submenu.upvoted}]]
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/home/posts/downvoted}" class="nav-link">
                  <i class="far fa-dot-circle nav-icon"></i>
                  <p>
                    [[#{common.sidebar_menu.subsection.dashboard.submenu.downvoted}]]
                  </p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>
                [[#{common.sidebar_menu.subsection.dashboard.replies}]]
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a th:href="@{/home/replies/owned}" class="nav-link">
                  <i class="far fa-dot-circle nav-icon"></i>
                  <p>
                    [[#{common.sidebar_menu.subsection.dashboard.submenu.owned}]]
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/home/replies/upvoted}" class="nav-link">
                  <i class="far fa-dot-circle nav-icon"></i>
                  <p>
                    [[#{common.sidebar_menu.subsection.dashboard.submenu.upvoted}]]
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/home/replies/downvoted}" class="nav-link">
                  <i class="far fa-dot-circle nav-icon"></i>
                  <p>
                    [[#{common.sidebar_menu.subsection.dashboard.submenu.downvoted}]]
                  </p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>
                [[#{common.sidebar_menu.subsection.dashboard.channels}]]
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a th:href="@{/home/channels/owned}" class="nav-link">
                  <i class="far fa-dot-circle nav-icon"></i>
                  <p>
                    [[#{common.sidebar_menu.subsection.dashboard.submenu.owned}]]
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/home/channels/joined}" class="nav-link">
                  <i class="far fa-dot-circle nav-icon"></i>
                  <p>
                    [[#{common.sidebar_menu.subsection.dashboard.submenu.joined}]]
                  </p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="nav-header px-0 px-3">
        [[#{common.sidebar_menu.section.info}]]
      </li>
      <li class="nav-item">
        <a th:href="@{/about}" class="nav-link">
          <i class="nav-icon fas fa-info"> </i>
          <p class="">[[#{common.sidebar_menu.subsection.about_us}]]</p>
        </a>
      </li>
      <li class="nav-item">
        <a th:href="@{/contact}" class="nav-link">
          <i class="nav-icon fas fa-address-book"> </i>
          <p class="">[[#{common.sidebar_menu.subsection.contact_us}]]</p>
        </a>
      </li>
    </ul>
  </nav>
</html>
