<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{sidebar}"
>
  <nav class="mt-2" th:fragment="sidebar_menu">
    <ul
      class="nav nav-pills nav-sidebar flex-column"
      data-widget="treeview"
      role="menu"
      data-accordion="false"
    >
      <li class="nav-header px-0 px-3">USER</li>
      <li class="nav-item">
        <!-- redirect to auth register or to home with posts filtered by channel subscription -->
        <a th:href="@{/home}" class="nav-link">
          <i class="nav-icon fas fa-user-circle"> </i>
          <p class="">[[#{menu.profile}]]</p>
        </a>
      </li>

      <li class="nav-item has-treeview">
        <!-- redirect to auth register or to dashboard -->
        <a href="#" class="nav-link">
          <i class="nav-icon fas fa-home"></i>
          <p>
            dashboard
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>
                posts
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a th:href="@{/home/posts/owned}" class="nav-link">
                  <i class="far fa-dot-circle nav-icon"></i>
                  <p>owned</p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/home/posts/saved}" class="nav-link">
                  <i class="far fa-dot-circle nav-icon"></i>
                  <p>saved</p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/home/posts/hidden}" class="nav-link">
                  <i class="far fa-dot-circle nav-icon"></i>
                  <p>hidden</p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/home/posts/reported}" class="nav-link">
                  <i class="far fa-dot-circle nav-icon"></i>
                  <p>reported</p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/home/posts/upvoted}" class="nav-link">
                  <i class="far fa-dot-circle nav-icon"></i>
                  <p>upvoted</p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/home/posts/downvoted}" class="nav-link">
                  <i class="far fa-dot-circle nav-icon"></i>
                  <p>downvoted</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>
                replies
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a th:href="@{/home/replies/owned}" class="nav-link">
                  <i class="far fa-dot-circle nav-icon"></i>
                  <p>owned</p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/home/replies/upvoted}" class="nav-link">
                  <i class="far fa-dot-circle nav-icon"></i>
                  <p>upvoted</p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/home/replies/downvoted}" class="nav-link">
                  <i class="far fa-dot-circle nav-icon"></i>
                  <p>downvoted</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>
                channels
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a th:href="@{/home/channels/owned}" class="nav-link">
                  <i class="far fa-dot-circle nav-icon"></i>
                  <p>owned</p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/home/channels/joined}" class="nav-link">
                  <i class="far fa-dot-circle nav-icon"></i>
                  <p>joined</p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="nav-header px-0 px-3">USER</li>
      <li class="nav-item">
        <a th:href="@{/about}" class="nav-link">
          <i class="nav-icon fas fa-info"> </i>
          <p class="">about</p>
        </a>
      </li>
      <li class="nav-item">
        <a th:href="@{/contact}" class="nav-link">
          <i class="nav-icon fas fa-address-book"> </i>
          <p class="">contact us</p>
        </a>
      </li>
    </ul>
  </nav>
</html>
