<!--
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<body>

<div layout:fragment="content">

    <p>User form</p>

    <form th:action="@{/user}" method="POST" th:object="${user}">
        <label for="name">Name</label>
        <input type="text" th:field="*{name}"/>
        <label for="email">Name</label>
        <input type="email" th:field="*{email}"/>

        <button type="submit">SUBMIT</button>
    </form>

</div>

</body>
</html>-->
