<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  layout:decorate="~{commons/exskel}"
>
  <div class="container p-4" layout:fragment="content">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center infinite-scroll px-0">
        <!-- foreach posts as post -->
        <div
          th:each="post : ${page.getContent()}"
          class="card col-lg-10 mx-auto d-flex flex-row px-0"
          style="max-width: 800px;"
          th:if="${user == null || !templateHelper.isPostHiddenByUser(user.getId(), post)}"
        >
        <!-- ##### POST SIDEBAR ##### -->
          <div
            class="rounded-left py-3 d-flex flex-column"
            style="flex: 0 0 50px; background-color: #222;"
          >
            <!-- if auth and post is not upvoted, upvote is enabled-->
            <a th:href="@{/posts/{id}/upvote(id=${post.getId()})}"
               sec:authorize="!isAnonymous()"
               th:unless="${templateHelper.isPostUpvotedByUser(#authentication.getPrincipal().getUser().getId(), post)}"
               th:id="${'post-' + post.getId() + '-upvote'}" class="upvote">
              <i class="fas fa-arrow-up mb-1"></i>
            </a>
            <!-- if auth and post is upvoted, unupvote is enabled-->
            <a th:href="@{/posts/{id}/upvote(id=${post.getId()})}"
               sec:authorize="!isAnonymous()"
               th:if="${templateHelper.isPostUpvotedByUser(#authentication.getPrincipal().getUser().getId(), post)}"
               th:id="${'post-' + post.getId() + '-upvote'}" class="text-warning upvote">
              <i class="fas fa-arrow-up mb-1"></i>
            </a>
            <!-- else (guest), redirect to login -->
            <a th:href="@{/login}" sec:authorize="isAnonymous()" class="">
              <i class="fas fa-arrow-up mb-1"></i>
            </a>
            <!-- if auth and post is upvoted or downvoted, draw text-warning info -->
            <span th:id="${'post-' + post.getId() + '-votenumber'}"
                  sec:authorize="!isAnonymous()"
                  th:if="${templateHelper.isPostUpvotedByUser(#authentication.getPrincipal().getUser().getId(), post) || templateHelper.isPostDownvotedByUser(#authentication.getPrincipal().getUser().getId(), post)}"
                  class="my-1 text-warning votenumber"
                  th:text="${post.getUpvote() - post.getDownvote()}"
              ></span>
            <!-- else auth, post is not upvoted and not downvoted, draw text-light info -->
            <span th:id="${'post-' + post.getId() + '-votenumber'}"
                  sec:authorize="!isAnonymous()"
                  th:unless="${templateHelper.isPostUpvotedByUser(#authentication.getPrincipal().getUser().getId(), post) || templateHelper.isPostDownvotedByUser(#authentication.getPrincipal().getUser().getId(), post)}"
                  class="my-1 text-light votenumber"
                  th:text="${post.getUpvote() - post.getDownvote()}"></span>
            <!-- else guest, draw text-light info -->
            <span th:id="${'post-' + post.getId() + '-votenumber'}"
                  sec:authorize="isAnonymous()"
                  class="my-1 text-light votenumber"
                  th:text="${post.getUpvote() - post.getDownvote()}"></span>
            <!-- if auth and post is not downvoted, downvote is enabled-->
            <a th:href="@{/posts/{id}/downvote(id=${post.getId()})}" th:id="${'post-' + post.getId() + '-downvote'}"
               sec:authorize="!isAnonymous()"
               th:unless="${templateHelper.isPostDownvotedByUser(#authentication.getPrincipal().getUser().getId(), post)}"
               class="downvote">
              <i class="fas fa-arrow-down"></i>
            </a>
            <!-- if auth and post is downvoted, undownvote is enabled-->
            <a th:href="@{/posts/{id}/downvote(id=${post.getId()})}" th:id="${'post-' + post.getId() + '-downvote'}"
               sec:authorize="!isAnonymous()"
               th:if="${templateHelper.isPostDownvotedByUser(#authentication.getPrincipal().getUser().getId(), post)}"
               class="text-warning downvote">
              <i class="fas fa-arrow-down"></i>
            </a>
            <!-- else (guest), redirect to login -->
            <a th:href="@{/login}" sec:authorize="isAnonymous()" class="">
              <i class="fas fa-arrow-down"></i>
            </a>
          </div>
          <div class="col p-0 d-flex flex-column overflow-auto">

            <style>
              .carousel-control-prev:hover,
              .carousel-control-next:hover {
                background-color: rgba(200, 200, 200, 0.2);
                transition: 0.3s;
              }
            </style>

            <!-- ##### POST CAROUSEL ##### -->
            <!-- if has images -->
            <div th:if="${post.getImages() != null && !post.getImages().isEmpty()}"
                 th:id="${'postcarousel-' + post.getId()}" class="carousel slide overflow-hidden" data-ride="carousel"
              style="max-width:800px;height:300px;">
              <div class="carousel-inner bg-secondary rounded-right">
                <!-- for images -->
                <th:block th:each="image : ${templateHelper.findPostImages(post.getId())}">
                  <!-- if first image -->
                  <div th:if="${image.isFirst()}" class="carousel-item active">
                    <img th:src="${image.getLocation()}" class="d-block mx-auto w-100 h-auto">
                  </div>
                  <!-- else default image -->
                  <div th:unless="${image.isFirst()}" class="carousel-item">
                    <img th:src="${image.getLocation()}" class="d-block mx-auto w-100 h-auto">
                  </div>
                </th:block>
                <!-- end for -->
              </div>
              <!-- carousel controls -->
              <a th:href="${'#postcarousel-' + post.getId()}" class="carousel-control-prev" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">prev</span>
              </a>
              <a th:href="${'#postcarousel-' + post.getId()}" class="carousel-control-next" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">next</span>
              </a>
            </div>
            <!-- end if has images -->

            <!-- ##### POST HEADER-BODY ##### -->
            <div class="card-header text-left border-0 px-3">
              <p class="m-0 mb-1" th:with="channel=${templateHelper.findChannelById(post.getChannelId())}, user=${templateHelper.findUserById(post.getUserId())}">
                <a th:href="@{/discover/channel/{id}/(id=${channel.getId()})}"
                  class="text-decoration-none"><b th:utext="${channel.getName()}"></b></a> <span class="text-muted">[[#{content.welcome.post.posted_by}]]
                </span>
                <a th:href="@{/discover/user/{id}/(id=${user.getId()})}"
                  class="text-decoration-none" th:text="${user.getUsername()}"></a>
              </p>
              <h5 class="m-0"><a th:href="@{/discover/post/{id}/(id=${post.getId()})}"
                  class="text-decoration-none" th:text="${post.getTitle()}"></a></h5>
            </div>
            <div class="card-body text-left px-3 py-1">
              <div class="markdown-content" th:data-markdown-content="${post.getContent()}"></div>
              <!-- for post tags -->
              <a th:href="@{/search/(target=tags, query=${tag.getName()})}" th:each="tag : ${post.getTags()}"><span class="badge badge-pill"
                                 style="font-size: 11px; background-color: #ddd" th:text="${tag.getName()}"></span></a>
              <!-- end for -->
            </div>

            <!-- ##### POST FOOTER (ACTIONS) ##### -->
            <div class="card-footer border-0 p-1 px-3 text-left mt-1" style="border-bottom-left-radius: 0px">
              <!-- if auth and post unsaved, save is enabled -->
              <a th:href="@{/posts/{id}/save(id=${post.getId()})}"
                 th:id="${'post-' + post.getId() + '-save'}"
                 sec:authorize="!isAnonymous()"
                 th:unless="${templateHelper.isPostSavedByUser(#authentication.getPrincipal().getUser().getId(), post)}"
                 class="text-decoration-none mr-2 save">
                <i th:id="${'post-' + post.getId() + '-save-icon'}" class="far fa-bookmark mr-1"></i>
                Save
              </a>
              <!-- if auth and post saved, save is disabled -->
              <a th:id="${'post-' + post.getId() + '-save'}"
                 sec:authorize="!isAnonymous()"
                 th:if="${templateHelper.isPostSavedByUser(#authentication.getPrincipal().getUser().getId(), post)}"
                 th:href="@{/posts/{id}/save(id=${post.getId()})}"
                 class="text-decoration-none mr-2 text-danger save">
                <i th:id="${'post-' + post.getId() + '-save-icon'}" class="fas fa-bookmark mr-1"></i>
                Unsave
              </a>
              <!-- else (guest), redirect to login -->
              <a
                 class="text-decoration-none mr-2"
                 th:href="@{/login}" sec:authorize="isAnonymous()">
                <i class="far fa-bookmark mr-1"></i>
                Save
              </a>
              <!-- end if -->
              <!-- if auth and post unhidden, hide is enabled -->
              <a th:id="${'post-' + post.getId() + '-hide'}" th:href="@{/posts/{id}/hide(id=${post.getId()})}"
                 sec:authorize="!isAnonymous()"
                 th:unless="${templateHelper.isPostHiddenByUser(#authentication.getPrincipal().getUser().getId(), post)}"
                 class="text-decoration-none mr-2 hide">
                <i th:id="${'post-' + post.getId() + '-hide-icon'}" class="far fa-eye-slash mr-1"></i>
                Hide
              </a>
              <!-- if auth and post hidden, hide is disabled -->
              <a th:id="${'post-' + post.getId() + '-hide'}" th:href="@{/posts/{id}/hide(id=${post.getId()})}"
                 sec:authorize="!isAnonymous()"
                 th:if="${templateHelper.isPostHiddenByUser(#authentication.getPrincipal().getUser().getId(), post)}"
                 class="text-decoration-none mr-2 text-danger hide">
                <i th:id="${'post-' + post.getId() + '-hide-icon'}" class="fas fa-eye-slash mr-1"></i>
                Unhide
              </a>
              <!-- else (guest), redirect to login -->
              <a class="text-decoration-none mr-2" th:href="@{/login}" sec:authorize="isAnonymous()">
                <i class="far fa-eye-slash mr-1"></i>
                Hide
              </a>
              <!-- end if -->
            </div>

          </div>
        </div>
        <!-- endforeach -->
        <ul th:if="${page.getTotalPages() > 1}" class="pagination">
          <li class="page-item active"><a class="page-link" href="#" th:href="@{/posts/page/{id}/(id=${page.getNumber()})}" th:text="${page.getNumber()}"></a></li>
          <li class="page-item" th:if="${!page.isLast()}"><a class="page-link" href="#" th:href="@{/posts/page/{id}/(id=${page.getNumber()+1})}">Next</a></li>
        </ul>

      </div>
    </div>
    <!-- JScroll func -->
    <script th:inline="javascript">
      $('ul.pagination').hide();
      $(function() {
        $('document').ready(function() {
          $('.markdown-content').each(function(){
            let markdown_content = $(this).data('markdown-content');
            $(this).html(marked(markdown_content));
          });
          $('.infinite-scroll').jscroll({
            autoTrigger: true,
            loadingHtml: '<div class="spinner-grow text-primary" role="status"><span class="sr-only">loading...</span></div>',
            padding: 0,
            nextSelector: '.pagination li.active + li a',
            contentSelector: 'div.infinite-scroll',
            callback: function() {
              $('ul.pagination').remove();
              // Marked markdown parser func
              // maybe remove document ready
              $(document).ready(function(){
                $('.markdown-content').each(function(){
                  let markdown_content = $(this).data('markdown-content');
                  $(this).html(marked(markdown_content));
                });
              });
            }
          });
        });
      });
    </script>
  </div>
</html>
