<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{commons/exskel}"
>
  <div class="container p-4" layout:fragment="content">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <h1 class="text-center mt-3 mb-4">[[#{common.contact_us}]]</h1>
        <div class="text-center mb-4">
          <p class="mb-1">
            <a href="mailto:valentino.digiosaffatte@student.univaq.it"
              >valentino.digiosaffatte@student.univaq.it</a
            >
          </p>
          <p class="m-0">
            <a href="mailto:riccardoarmando.diprinzio@student.univaq.it"
              >riccardoarmando.diprinzio@student.univaq.it</a
            >
          </p>
        </div>

        <!-- leaflet :: open street map -->
        <link
          rel="stylesheet"
          href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        />
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
        <div
          id="mapid"
          style="height: 500px"
          class="rounded border border-primary"
        ></div>
      </div>
    </div>
    <script th:inline="javascript">
      var mymap = L.map("mapid").setView([42.3675899, 13.3515717], 14);
      L.tileLayer("https://{s}.tile.osm.org/{z}/{x}/{y}.png", {}).addTo(mymap);
      L.marker([42.3675899, 13.3515717])
        .addTo(mymap)
        .bindPopup("University of L'Aquila")
        .openPopup();
    </script>
  </div>
</html>
