<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{commons/exskel}"
>
  <div class="container p-4" layout:fragment="content">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center infinite-scroll px-0">
        <!-- CERCHIAMO DI UNIFICARE MYREPLIES A REPLY SAVED,HIDDEN,REPORTED,ECC -->
        <!-- forelse replies as reply -->
        <div th:each="reply : ${replies}" th:id="${'reply-' + reply.getId()}" class="card col-lg-10 mx-auto d-flex flex-row px-0" style="max-width: 800px">
          <div class="rounded-left py-3 d-flex flex-column" style="flex: 0 0 50px; background-color: #ddd">
            <!-- if reply not upvoted -->
            <a th:unless="${replyBO.findByUserUpvoted(#authentication.getPrincipal().getUser().getId()).contains(reply)}" th:id="${'reply-' + reply.getId() + '-upvote'}" th:href="@{/replies/{id}/upvote(id=${reply.getId()})}" class="replyupvote"><i
                class="fas fa-arrow-up mb-1"></i></a>
            <!-- if reply upvoted -->
            <a th:if="${replyBO.findByUserUpvoted(#authentication.getPrincipal().getUser().getId()).contains(reply)}" th:id="${'reply-' + reply.getId() + '-upvote'}" th:href="@{/replies/{id}/upvote(id=${reply.getId()})}"
              class="text-danger replyupvote"><i class="fas fa-arrow-up mb-1"></i></a>
            <!-- else -->
            <!--
            <a href="" class=""><i class="fas fa-arrow-up mb-1"></i></a>
            -->
            <!-- end if -->
            <!-- if reply upvoted | downvoted -->
            <span th:id="${'reply-' + reply.getId() + '-votenumber'}"
                  th:if="${replyBO.findByUserUpvoted(#authentication.getPrincipal().getUser().getId()).contains(reply) || replyBO.findByUserDownvoted(#authentication.getPrincipal().getUser().getId()).contains(reply)}"
              class="my-1 text-danger text-bold votenumber" th:text="${reply.getUpvote() - reply.getDownvote()}">upv-dov</span>
            <!-- else -->
            <span th:id="${'reply-' + reply.getId() + '-votenumber'}"
                  th:unless="${replyBO.findByUserUpvoted(#authentication.getPrincipal().getUser().getId()).contains(reply) || replyBO.findByUserDownvoted(#authentication.getPrincipal().getUser().getId()).contains(reply)}"
              class="my-1 text-dark text-bold votenumber" th:text="${reply.getUpvote() - reply.getDownvote()}">upv-dov</span>
            <!-- end if -->
            <!-- if reply not downvoted -->
            <a th:unless="${replyBO.findByUserDownvoted(#authentication.getPrincipal().getUser().getId()).contains(reply)}" th:id="${'reply-' + reply.getId() + '-downvote'}" th:href="@{/replies/{id}/downvote(id=${reply.getId()})}" class="replydownvote"><i
                class="fas fa-arrow-down"></i></a>
            <!-- if reply downvoted -->
            <a th:if="${replyBO.findByUserDownvoted(#authentication.getPrincipal().getUser().getId()).contains(reply)}" th:id="${'reply-' + reply.getId() + '-downvote'}" th:href="@{/replies/{id}/downvote(id=${reply.getId()})}"
              class="text-danger replydownvote"><i class="fas fa-arrow-down"></i></a>
            <!-- else -->
            <!--
            <a href="" class=""><i class="fas fa-arrow-down"></i></a>
            -->
            <!-- end if -->
          </div>
          <div class="col p-0 d-flex flex-column overflow-auto">
            <div class="card-header text-left border-0 px-3">
              <p class="m-0 mb-1" th:with="channel=${channelBO.findById(reply.getChannelId())}, user=${userBO.findById(reply.getUserId())}">
                <a th:href="@{/discover/channel/{id}/(id=${channel.getId()})}"
                  class="text-decoration-none"><b th:utext="${channel.getName() + ' &#183'}">reply.channel_name &#183</b></a>
                <span class="text-muted">Reply posted by </span>
                <a th:href="@{/discover/user/{id}/(id=${user.getId()})}"
                  class="text-decoration-none" th:text="${user.getUsername()}">reply.username</a>
    
              </p>
            </div>
            <a th:href="${'#content-collapse-' + reply.getId()}" role="button"
              class="text-decoration-none px-3 py-2 btn btn-sm btn-block btn-outline-secondary" data-toggle="collapse"><i
                class="fas fa-eye mr-2"></i>See Reply Content</a>
    
            <div class="card-body text-left px-3 py-1 collapse" th:id="${'content-collapse-' + reply.getId()}">
              <div class="markdown-content" th:data-markdown-content="${reply.getContent()}"></div>
            </div>
            <div class="card-footer border-0 p-1 px-3 text-left" style="border-bottom-left-radius: 0px">
    
              <a th:href="@{/discover/post/{id}/(id=${reply.getPost().getId()})}" class="text-decoration-none"><i
                  class="fas fa-link mr-2"></i>See the Original Post</a>
    
              <a th:if="${reply.getUserId().equals(#authentication.getPrincipal().getUser().getId())}" th:href="@{/replies/{id}/delete(id=${reply.getId()})}"
                class="text-decoration-none mr-2 text-danger replydelete float-right"><i
                  class="fa fa-exclamation-triangle"></i> Delete</a>
    
            </div>
          </div>
        </div>
        <!-- if empty -->
        <th:block th:if="${replies.isEmpty()}">
          <img src="@{/images/no_res_2.png}" alt="" class="rounded my-4" width="350px">
          <h2 class="text-primary">no results ...</h2>
        </th:block>
        <!-- end forelse -->
      </div>
    </div>

    <script th:inline="javascript">
      $(document).ready(function () {
        $('.markdown-content').each(function () {
          let markdown_content = $(this).data('markdown-content');
          $(this).html(marked(markdown_content));
        });
      });
    </script>

    <!-- JScroll func -->
    <!--
    <script type="text/javascript">
      $('ul.pagination').hide();
      $(function () {
        $('document').ready(function () {
          $('.markdown-content').each(function () {
            let markdown_content = $(this).data('markdown-content');
            $(this).html(marked(markdown_content));
          });
          $('.infinite-scroll').jscroll({
            autoTrigger: true,
            loadingHtml: '<div class="spinner-grow text-primary" role="status"><span class="sr-only">loading...</span></div>',
            padding: 0,
            nextSelector: '.pagination li.active + li a',
            contentSelector: 'div.infinite-scroll',
            callback: function () {
              $('ul.pagination').remove();
              // Marked markdown parser func
              // maybe remove document ready
              $(document).ready(function () {
                $('.markdown-content').each(function () {
                  let markdown_content = $(this).data('markdown-content');
                  $(this).html(marked(markdown_content));
                });
              });
            }
          });
        });
      });
    </script>
    -->
  </div>
</html>
