<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{commons/exskel}"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <div class="container p-4" layout:fragment="content">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header d-flex flex-row">
            <img
              th:if="${imageBO.findUserProfileImage(user.getId()) == null}"
              th:src="@{/images/no_profile_img.jpg}"
              alt="user-profile-image"
              class="rounded border"
              width="100"
            />
            <img
              th:unless="${imageBO.findUserProfileImage(user.getId()) == null}"
              th:src="${imageBO.findUserProfileImage(user.getId()).getLocation()}"
              alt="user-profile-image"
              class="rounded border"
              width="100"
            />
            <div class="d-flex flex-column my-auto ml-4">
              <a th:href="@{/user/{userId}/change_image/(userId=${user.getId()})}" class="text-decoration-none">change profile image</a>
              <a th:href="@{/user/{userId}/remove_image/(userId=${user.getId()})}" class="text-decoration-none">remove profile image</a>
              <h4 class="m-0" th:text="${user.getName() + ' ' + user.getSurname()}">user.name user.surname</h4>
              <h5 class="m-0 text-muted" th:text="${user.getUsername()}">user.username</h5>
            </div>
          </div>
          <div class="card-body">
            <h5 class="m-0 mb-2">
              <b>email</b><span class="ml-4 text-muted" th:text="${user.getEmail()}">user.email</span>
            </h5>
            <h5 class="m-0">
              <b>birth date</b
              ><span class="ml-4 text-muted" th:text="${user.getBirthDate()}">user.birth_date</span>
            </h5>
          </div>
          <div class="card-footer">
            <div class="float-right">
              <button class="btn btn-success mr-1"
                 data-toggle="modal"
                 data-target="#user-data-modal">
                update profile data
              </button>
              <button class="btn btn-success"
                 data-toggle="modal"
                 data-target="#change-password-modal">
                change password
              </button>
            </div>
            <button class="btn btn-primary" role="button"
                    data-toggle="modal"
                    data-target="#create-channel-modal">
              create a channel
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- only logged -->
    <form sec:authorize="!isAnonymous()" th:action="@{/channels/create}" method="post" th:object="${channel}" enctype="multipart/form-data">
      <div
              class="modal fade"
              id="create-channel-modal"
              data-backdrop="static"
              tabindex="-1"
              role="dialog"
              aria-labelledby="create-channel-modal-label"
              aria-hidden="true"
      >
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title ml-auto" id="create-channel-modal-label">
                create a channel
              </h5>
              <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- MODAL CONTENT -->
              <!-- TODO: REMOVE ARRAY OF IMAGES -->
              <!--
              <input
                      name="images[]"
                      type="file"
                      class="form-control-file mb-3"
                      id="images"
                      multiple
              />
              -->
              <input
                      name="channel-name"
                      type="text"
                      class="form-control mb-3"
                      id="channel-name"
                      placeholder="Name"
                      th:field="*{name}"
              />
              <input
                      name="channel-title"
                      type="text"
                      class="form-control mb-3"
                      id="channel-title"
                      placeholder="Title"
                      th:field="*{title}"
              />
              <textarea
                      name="channel-description"
                      id="channel-description-textarea"
                      cols=""
                      rows=""
                      class="form-control mb-3"
                      placeholder="Description"
                      th:field="*{description}"
              ></textarea>
              <textarea
                      name="channel-rules"
                      id="channel-rules-textarea"
                      cols=""
                      rows=""
                      class="form-control"
                      placeholder="Rules"
                      th:field="*{rules}"
              ></textarea>
              <!-- / MODAL CONTENT -->
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-secondary">create</button>
            </div>
          </div>
        </div>
      </div>
    </form>

    <!-- only logged -->
    <form sec:authorize="!isAnonymous()" th:action="@{/user/{id}/update/(id=${user.getId()})}" th:object="${user}" method="post" enctype="">
      <div
              class="modal fade"
              id="user-data-modal"
              data-backdrop="static"
              tabindex="-1"
              role="dialog"
              aria-labelledby="user-data-modal-label"
              aria-hidden="true"
      >
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title ml-auto" id="user-data-modal-label">
                update profile data
              </h5>
              <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- MODAL CONTENT -->
              <!-- TODO: connettere campi oggetto utente come valori old del form per poi cambiarli -->
              <input
                      th:field="*{name}"
                      name="user-name"
                      type="text"
                      class="form-control mb-3"
                      id="user-name"
                      placeholder="Name"
                      th:value="${user.getName()}"
              />
              <input
                      th:field="*{surname}"
                      name="user-surname"
                      type="text"
                      class="form-control mb-3"
                      id="user-surname"
                      placeholder="Surname"
                      th:value="${user.getSurname()}"
              />
              <input
                      th:field="*{email}"
                      name="user-email"
                      type="email"
                      class="form-control mb-3"
                      id="user-email"
                      placeholder="Email"
                      th:value="${user.getEmail()}"
              />
              <input
                      th:field="*{birthDate}"
                      id="user-birthdate"
                      type="date"
                      class="form-control mb-3"
                      name="user-birthdate"
                      th:value="${user.getBirthDate()}"
              />
              <input type="hidden" id="password" name="password" th:value="${user.getPassword()}" />
              <input type="hidden" id="username" name="username" th:value="${user.getUsername()}" />
              <!-- / MODAL CONTENT -->
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-secondary">update</button>
            </div>
          </div>
        </div>
      </div>
    </form>

    <!-- only logged -->
    <form sec:authorize="!isAnonymous()" th:action="@{/user/{id}/change_password/(id=${user.getId()})}" method="post" enctype="">
      <div
              class="modal fade"
              id="change-password-modal"
              data-backdrop="static"
              tabindex="-1"
              role="dialog"
              aria-labelledby="change-password-modal-label"
              aria-hidden="true"
      >
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title ml-auto" id="change-password-modal-label">
                change password
              </h5>
              <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- MODAL CONTENT -->
              <!-- TODO: connettere campi oggetto utente come valori old del form per poi cambiarli -->
              <input
                      name="old-password"
                      type="password"
                      class="form-control mb-3"
                      id="old-password"
                      placeholder="Old password"
              />
              <input
                      name="new-password"
                      type="password"
                      class="form-control"
                      id="new-password"
                      placeholder="New password"
              />
              <!-- / MODAL CONTENT -->
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-secondary">change</button>
            </div>
          </div>
        </div>
      </div>
    </form>

  </div>
</html>
