<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{commons/exskel}"
>
  <div class="container p-4" layout:fragment="content">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">[[#{common.login.main}]]</div>
          <div class="card-body">
            <!-- session message -->
            <div th:if="${(param.error != null && !'User is disabled'.equals(session['SPRING_SECURITY_LAST_EXCEPTION'].message))}" class="alert alert-danger">
              [[#{common.login.invalid_username_password_message}]]
            </div>
            <div th:if="${param.logout}" class="alert alert-success">
              [[#{common.login.logout_message}]]
            </div>
            <div th:if="${param.registered}" class="alert alert-success">
              [[#{common.login.sign_up_success}]]
            </div>
            <div th:if="${(param.error != null && 'User is disabled'.equals(session['SPRING_SECURITY_LAST_EXCEPTION'].message))}" class="alert alert-danger">
              [[#{common.login.user_disabled}]]
            </div>
            <!-- end session message -->

            <form method="POST" th:action="@{/login}">
              <div class="form-group row">
                <label
                  for="username"
                  class="col-md-4 col-form-label text-md-right"
                  >username</label
                >
                <div class="col-md-6">
                  <input
                    id="username"
                    type="text"
                    class="form-control"
                    name="username"
                    value=""
                    th:required="required"
                    autocomplete="username"
                    autofocus
                  />
                  <!-- error username -->
                  <!-- <span class="invalid-feedback" role="alert">
                    <strong>{{ $message }}</strong>
                  </span> -->
                  <!-- end error -->
                </div>
              </div>

              <div class="form-group row">
                <label
                  for="password"
                  class="col-md-4 col-form-label text-md-right"
                  >password</label
                >
                <div class="col-md-6">
                  <input
                    id="password"
                    type="password"
                    class="form-control"
                    name="password"
                    th:required="required"
                    autocomplete="current-password"
                  />
                  <!-- error password -->
                  <!-- <span class="invalid-feedback" role="alert">
                    <strong>{{ $message }}</strong>
                  </span> -->
                  <!-- end error -->
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-6 offset-md-4">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      name="remember"
                      id="remember"
                    />
                    <label class="form-check-label" for="remember">
                      [[#{common.login.remember_me}]]
                    </label>
                  </div>
                </div>
              </div>

              <div class="form-group row mb-0">
                <div class="col-md-8 offset-md-4">
                  <button type="submit" class="btn btn-primary">
                    [[#{common.login.main}]]
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</html>
