<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{commons/exskel}"
>
  <div class="container p-4" layout:fragment="content">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">[[#{common.register}]]</div>

          <div class="card-body">
            <form method="POST" th:action="@{register}" th:object="${user}">
              <div class="form-group row">
                <label for="name" class="col-md-4 col-form-label text-md-right"
                  >[[#{common.register.name}]]</label
                >
                <div class="col-md-6">
                  <input
                    th:field="*{name}"
                    id="name"
                    type="text"
                    class="form-control"
                    name="name"
                    value=""
                    th:required="required"
                    autocomplete="name"
                    autofocus
                  />
                  <!-- error name -->
                  <!-- <span class="invalid-feedback" role="alert">
                    <strong>{{ $message }}</strong>
                  </span> -->
                  <!-- end error -->
                </div>
              </div>

              <div class="form-group row">
                <label
                  for="surname"
                  class="col-md-4 col-form-label text-md-right"
                  >[[#{common.register.surname}]]</label
                >
                <div class="col-md-6">
                  <input
                    th:field="*{surname}"
                    id="surname"
                    type="text"
                    class="form-control"
                    name="surname"
                    value=""
                    th:required="required"
                    autocomplete="surname"
                    autofocus
                  />
                  <!-- error surname -->
                  <!-- <span class="invalid-feedback" role="alert">
                    <strong>{{ $message }}</strong>
                  </span> -->
                  <!-- end error -->
                </div>
              </div>

              <div class="form-group row">
                <label
                  for="username"
                  class="col-md-4 col-form-label text-md-right"
                  >username</label
                >
                <div class="col-md-6">
                  <input
                    th:field="*{username}"
                    id="username"
                    type="text"
                    class="form-control"
                    name="username"
                    value=""
                    th:required="required"
                    th:maxlength="30"
                    autocomplete="username"
                    autofocus
                  />
                  <!-- error username -->
                  <!-- <span class="invalid-feedback" role="alert">
                    <strong>{{ $message }}</strong>
                  </span> -->
                  <!-- end error -->
                </div>
              </div>

              <div class="form-group row">
                <label
                  for="birth_date"
                  class="col-md-4 col-form-label text-md-right"
                  >[[#{common.register.birth_date}]]</label
                >
                <div class="col-md-6">
                  <input
                    th:field="*{birthDate}"
                    id="birth_date"
                    type="date"
                    class="form-control"
                    name="birth_date"
                    value=""
                    th:required="required"
                    autocomplete="birth_date"
                    autofocus
                  />
                  <!-- error birth date -->
                  <!-- <span class="invalid-feedback" role="alert">
                    <strong>{{ $message }}</strong>
                  </span> -->
                  <!-- end error -->
                </div>
              </div>

              <div class="form-group row">
                <label for="email" class="col-md-4 col-form-label text-md-right"
                  >[[#{common.register.email_address}]]</label
                >
                <div class="col-md-6">
                  <input
                    th:field="*{email}"
                    id="email"
                    type="email"
                    class="form-control"
                    name="email"
                    value=""
                    th:required="required"
                    autocomplete="email"
                  />
                  <!-- error email -->
                  <!-- <span class="invalid-feedback" role="alert">
                    <strong>{{ $message }}</strong>
                  </span> -->
                  <!-- end error -->
                </div>
              </div>

              <div class="form-group row">
                <label
                  for="password"
                  class="col-md-4 col-form-label text-md-right"
                  >password</label
                >
                <div class="col-md-6">
                  <input
                    th:field="*{password}"
                    id="password"
                    type="password"
                    class="form-control"
                    name="password"
                    th:required="required"
                    th:minlength="6"
                    autocomplete="new-password"
                  />
                  <!-- error password -->
                  <!-- <span class="invalid-feedback" role="alert">
                    <strong>{{ $message }}</strong>
                  </span> -->
                  <!-- end error -->
                </div>
              </div>

              <div class="form-group row">
                <label
                  for="matching-password"
                  class="col-md-4 col-form-label text-md-right"
                  >[[#{common.register.confirm_password}]]</label
                >
                <div class="col-md-6">
                  <input
                    id="matching-password"
                    type="password"
                    class="form-control"
                    name="matching-password"
                    th:required="required"
                    th:minlength="6"
                    autocomplete="matching-password"
                  />
                </div>
              </div>
              <div class="form-group row mb-0">
                <div class="col-md-6 offset-md-4">
                  <button type="submit" class="btn btn-primary">
                    [[#{common.register}]]
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</html>
